<div
        class="container-fluid d-flex justify-content-center align-items-center flex-column flex-wrap pb-2 bg-danger pt-4">
    <div class="container-md d-flex justify-content-center align-items-center flex-row flex-wrap mt-4 mb-3">
        <div class="col-lg-4 col-md-4 container-fluid align-self-stretch">
            <h3 class="text-white">PizzaHub</h3>
            <p class="text-white">
                A108 Adam Street <br />
                New York, NY 535022 <br />
                United States
            </p>
            <p class="text-white mt-3">
                <span class="fw-bold">Phone:</span> +12 477898710348 <br />
                <span class="fw-bold">Email:</span> info@pizzahub.com
            </p>
        </div>
        <div class="col-lg-2 col-md-2 container-fluid align-self-stretch">
            <h5 class="text-white">Useful Links</h5>
            <ul class="list-group ms-1">
                <li class="list-group-item bg-transparent border border-0 text-white fw-medium ps-0">
                    <i class="bi bi-caret-right"></i>Care Team (voor medewerkers)
                </li>
                <li class="list-group-item bg-transparent border border-0 text-white fw-medium ps-0">
                    <i class="bi bi-caret-right"></i>Franchise Brochure
                </li>
                <li class="list-group-item bg-transparent border border-0 text-white fw-medium ps-0">
                    <i class="bi bi-caret-right"></i>Scam waarschuwing
                </li>
                <li class="list-group-item bg-transparent border border-0 text-white fw-medium ps-0">
                    <i class="bi bi-caret-right"></i>Terms of service
                </li>
                <li class="list-group-item bg-transparent border border-0 text-white fw-medium ps-0">
                    <i class="bi bi-caret-right"></i>Privacy policy
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-2 container-fluid align-self-stretch">
            <h5 class="text-white">Our Services</h5>
            <ul class="list-group ms-1">
                <li class="list-group-item bg-transparent border border-0 text-white fw-medium ps-0">
                    <i class="bi bi-caret-right"></i>Klantenservice
                </li>
                <li class="list-group-item bg-transparent border border-0 text-white fw-medium ps-0">
                    <i class="bi bi-caret-right"></i>Hoofdkantoor gegevens
                </li>
                <li class="list-group-item bg-transparent border border-0 text-white fw-medium ps-0">
                    <i class="bi bi-caret-right"></i>Aanbiedingen
                </li>
                <li class="list-group-item bg-transparent border border-0 text-white fw-medium ps-0">
                    <i class="bi bi-caret-right"></i>Marketing
                </li>
                <li class="list-group-item bg-transparent border border-0 text-white fw-medium ps-0">
                    <i class="bi bi-caret-right"></i>Contact met onze vestigingen
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 container-fluid align-self-stretch">
            <h5 class="text-white">Join Our Newsletter</h5>
            <p class="text-white">
                Get the latest Discount.
            </p>
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Recipient's username"
                       aria-describedby="basic-addon2" />
                <span class="input-group-text bg-primary border border-0 fw-medium text-white"
                      id="basic-addon2">Subscribe</span>
            </div>
            <div class="container-fluid mt-2 p-0">
                <iframe class="rounded" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0"
                        marginwidth="0"
                        src="https://maps.google.com/maps?width=100%25&amp;height=500&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                            href="https://www.gps.ie/"></a></iframe>
            </div>
        </div>
    </div>
    <div class="container-md text-white">
        <hr />
    </div>
    <div class="container-md d-flex justify-content-between align-items-center flex-row flex-wrap mt-3">
        <div class="container-fluid col-lg-6 align-self-stretch">
            <p class="text-white">
                &#169; Copyrights <span class="fw-bold">PizzaHub</span>. All Rights
                Reserved <br />
                Designed by Team Masa
            </p>
        </div>
        <div class="container-fluid col-lg-6 align-self-stretch text-lg-end">
            <i class="bi bi-twitter text-white fs-5 mx-1"></i>
            <i class="bi bi-facebook text-white fs-5 mx-1"></i>
            <i class="bi bi-instagram text-white fs-5 mx-1"></i>
            <i class="bi bi-skype text-white fs-5 mx-1"></i>
            <i class="bi bi-linkedin text-white fs-5 mx-1"></i>
        </div>
    </div>
    <div class="container-fluid d-flex justify-content-end">
        <a href="#" class="text-decoration-none align-self-end"><i
                    class="bi bi-arrow-up bg-btn text-white rounded-3 px-3 py-2 btn"></i></a>
    </div>
</div>