* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(5, 1fr);
  height: 400px;
  grid-template-areas:
    "hd hd hd hd hd hd"
    "na na na na na na"
    "ch ch ch ch ch ch"
    "lo lo lo lo lo lo"
    "co co co co co co";
}

.contactheader {
  grid-area: ch;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 25px;
}

header {
  grid-area: hd;
}

main {
  grid-area: ma;
}

.locatie {
  grid-area: lo;
  border: solid black 1px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  border-radius: 25px;
  border: black solid 2px;
  border-bottom: 7px solid black;
  border-right: 7px solid black;
}

.contact1 {
  grid-area: co;
  border: solid black 1px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  border-radius: 25px;
  border: black solid 2px;
  border-bottom: 7px solid black;
  border-right: 7px solid black;
}

.contactimg {
  border-right: 1px solid black;
  height: 200px;
  float: inline-start;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

nav {
  grid-area: na;
}

.loimg {
  height: 200px;
  border-right: 1px solid black;
  float: inline-start;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}



header {
  background-color: rgb(20, 52, 71);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 3px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 25px;
  text-decoration: none;
}





.logo {
  height: 150px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 250px;
  margin-top: 150px;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width:440px) {
  .locatie {
    grid-area: lo;
    border: solid black 1px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    border-radius: 25px;
    border: black solid 2px;
    border-bottom: 7px solid black;
    border-right: 7px solid black;
    padding: 10px;
  }
  
  .contact1 {
    grid-area: co;
    border: solid black 1px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    border-radius: 25px;
    border: black solid 2px;
    border-bottom: 7px solid black;
    border-right: 7px solid black;
    padding: 10px;
  }
}
