*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.header{
    background-color: rgba(33, 95, 154, 100);
}

.navbar{
    background-color: rgba(33, 95, 154, 100);
    padding: 0px;
    font-size: 25px;
    
}

.end{
display: flex;
justify-content: end;
}

.ProfilePicture{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    background: -webkit-linear-gradient(#83CBEB, #D9F2D0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-item{
    background: -webkit-linear-gradient(#83CBEB, #D9F2D0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-menu{
background-color: rgba(33, 95, 154, 100);
}

.hide {
    display: none;
}

.show {
    display: block;
}